.app-header{
    background: #f2f2f2;
}
.logo-contain{
    background: #e8e8e8;
    }
    .username{
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 18px;
        color: #f05228;
    }
    .userIcon{
        color: #f05228;
        border: 1px solid #f05228;
        padding: 5px 9px;
        display: inline-block;
        border-radius: 50px;
    }